*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* align-items: center; */
    /* align-items: stretch; */
    align-items: center;
    /* align-items: flex-end; */

    /* align-content is for when  you have 2 or more lines not too useful usually */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    height: 500px;
}

.cont-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: burlywood;
    border: 3px solid black;
    height: 100px;
    width: 100px;
    margin: 2px;
    padding: 5px;
}


#id-box3 {
    width: 80px;
    height: 80px;
    order: 100;
}

#id-box4 {
    width: 60px;
    height: 60px;
    font-size: 0.75rem;
    order: -100;
}

@media screen and (min-width: 600px) {
    .box {
        background-color: crimson;
        font-size: 1.5rem;
    }
}

/* @media screen and (min-width: 768px) and (max-width:992px) {  possible to add upper limit*/
@media screen and (min-width: 768px)  {
    html {
        font-size: 24px;
    }

    .box {
        background-color: forestgreen;
        height: 120px;
        width: 120px;
        font-size: 1.2rem;
    }
}