.strong-el {
    /* background-color: rgb(88, 156, 88); */
    border: 2px rgb(80, 73, 58) solid;
    border-radius: 5px;
    margin: 3px;
    width: 60px;
    height: 60px;
    
}

.strong-el:hover {
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
}

.dark-col {
    background-color: rgb(38, 99, 38);
    color:bisque;
}

.light-col {
    color: rgb(38, 99, 38);
    background-color:bisque;
}